<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- <ul class="timeline"> -->
                        <!-- <li> -->
                            <!-- <div class="timeline-image"> -->
                                 <!-- <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">  -->
                            <!-- </div> -->
                            <!-- <div class="timeline-panel"> -->
                                <!-- <div class="timeline-heading"> -->
                                    <!-- <h4>2009-2011</h4> -->
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                <!-- </div> -->
                                <div class="timeline-body">
                                    <p style="font-size:110%;">MyGovUSA is a Non-Profit interactive social media platform created to inspire a more 
interactive and educated voting block in the United States. To bridge the gap between 
elected officials and their constituents and giving the voice of democracy back to the people. 
                                    </p>

<p style="font-size:110%;">
     Our mission is to organize information on local government through creating an unbiased, non-
partisan platform for the public. Advocate for transparency in government, 
voter education, and voter rights. Inspire a more interactive and educated voting block in 
the United States while staying at the forefront of innovation.
</p>
<p style="font-size:110%;">
Our purpose is to give users the ability to educate themselves efficiently, without having to 
go to various websites to find something they can trust and without sorting through all the 
bias and special interest. 
</p>
<p style="font-size:110%;">
We operate on the belief that is the right of every American citizen to have access to pure 
information on their local government branches. This organization will create an app for the 
users smartphone and thus put information in the palm of the users hand. 
The app will summarize bills and other legislation policies in a way all users can understand 
the impact of the legislation. The summary will address what effect it will have in their.
</p>

<p style="font-size:110%;">
Because the MyGovUSA is a non-profit there is no stockholders or owners to please. And 
with a board of leaders selected from the community whose only goal is to serve the people 
we truly can say our motto wholeheartedly "For the People By The People". 

</p>
                                </div>
                            <!-- </div> -->
                        <!-- </li> -->
                        
                    <!-- </ul> -->
                </div>
            </div>
        </div>
    </section>